/* =============
    About
============= */
#about {
    margin-bottom: 60px;
    div {
        div {
            @include md {
                display: flex;
            }

            p {
                @include md {
                    margin-right: 20px;
                    text-align: right;
                }
                @include xl {
                    margin-right: 40px;
                }
            }
        }
    }
}
