/* =============
    Meet
============= */
#meet {
  padding-bottom: 60px;

  > aside {
    background-image: url("../img/icons/meet_icon.svg");
  }

  div {
    ul {
      display: grid;
      grid-auto-rows: 125px;
      grid-template-areas: "anna" "autumn" "maggie";
      padding: 30px 0;

      li {
        background-repeat: no-repeat;
        color: $white;
        font-family: "ivystyle-sans", sans-serif;

        article {
          margin-top: 75px;

          h5 {
            font-size: rem-calc(18);
            font-style: italic;
          }

          h6 {
            font-weight: normal;
            line-height: rem-calc(18);
          }
        }
      }

      li:nth-child(1) {
        background-image: url("../img/meet/anna.png");
        background-position: 5px;
        background-size: rem-calc(120);
        grid-area: anna;
        height: rem-calc(180);
      }

      li:nth-child(2) {
        background-image: url("../img/meet/autumn.png");
        background-position: 130px;
        background-size: rem-calc(96);
        grid-area: autumn;
        height: rem-calc(209);
        text-align: right;
      }

      li:nth-child(3) {
        background-image: url("../img/meet/maggie.png");
        background-position: 25px;
        background-size: rem-calc(102);
        grid-area: maggie;
        height: rem-calc(188);
        padding-right: 100px;
        text-align: right;
      }
    }
  }
}
