/* =============
    Mission
============= */
#mission {
    padding-top: 100px;
    @include xl {
        padding-top: 120px;
    }
    // &::after{
    //     content:url("../img/hero/hero-2.jpg");
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     width:100vw;
    //     height:70px;
    //     position: absolute;
    //     left:-240px;
    //     transform: scale(.18);

    // }

    > div {
        > div {
            @include md {
                display: flex;
            }

            aside {
                h1 {
                    @include md {
                        text-align: right;
                    }
                }
            }

            article {
                p {
                    @include md {
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}
