/* =============
    Vert-Type
============= */
#vert-type{
  div{
    display: block;
    width:10000px;
    // border:solid 1px red;
  p{
    font-size: rem-calc(60);
    font-weight: bold;
    color:$white;
    span{
      margin-right: 600px;
    }
  }
}
}
