/* =============
    Vertical Type
============= */
#vert {
  position: absolute;
  // display: block;
  // width: 100vh !important;

  width:523vh;
  left:-4275px;
  top:-20px;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  // transform: rotate(-90deg);
    	// transform-origin: left top 0;
  // width:100vh;
  // left: -1800px;
  // top: 1500px;
  // z-index: -1;
  // height: 20px;
  // overflow: hidden;



// overflow:visible;
// display: block;
// height: 100px;



// transform: rotate(-90deg);
// transform-origin: right center;
// margin-right: 100px;
// width: 200px;

div{
    // transform: rotate(-90deg);
    // transform-origin: right bottom;
    // position: absolute;

&::before{
  content:'Sign Up To Make A Difference;';
  background-color: red;
  // padding-right: 5000px;
  display: block;
  overflow: visible;
  // width:100vh;
  // position: absolute;
  // transform: rotate(-90deg);
  // transform-origin: right bottom;
  // width: 320px;
  // height: 400px;

  // color: $white;
  // font-size: rem-calc(40);
  // font-family: helvetica;
  // font-weight: bold;

}
}

  // div {
  //   p {
  //     color: $white;
  //     font-size: rem-calc(40);
  //     span {
  //       padding: 150px;
  //     }
  //   }
  // }

}





// display: grid;
// grid-template-areas: "." "vert" ".";
// grid-template-rows: 5fr 1fr 1fr;
