/* =============
    Footer
============= */
footer {
  > div {
    padding: 0 10px 10px;
    text-align: center;

    ul {
      display: flex;
      justify-content: center;

      li {
        padding: 0 10px;

        a:link,
        a:visited {
          color: $white;
          font-size: rem-calc(30);
        }

        a:active,
        a:hover {
          color: $drkblu;
        }
      }
    }
  }
}
