/* =============
    Header
============= */
header {
  padding: 10px;
  position: fixed;

  img {
    height: rem-calc(96);
  }

  nav {
    i {
      color: $drkblu;
      font-size: rem-calc(35);
      margin-left: 14px;
      margin-top: 6px;
    }
  }
}
