/* =============
    Header
============= */
header {
    div {
        left: 4%;
        padding-top: 6%;
        position: fixed;
        top: 0;
        z-index: 5;
        @include sm {
            left: 7%;
        }
        @include md {
            left: 5%;
        }
        @include xl {
            left: 50%;
            // padding-top: 6%;
            padding-top: 65px;
            transform: translateX(-480px);
        }
    }

    section:nth-child(1) {
        @include lg{
        background-color: $tbase;
        }
        img {
            height: rem-calc(96);
            @include sm {
                height: rem-calc(110);
            }
            @include md {
                height: rem-calc(155);
            }
            @include lg {
                height: rem-calc(200);
            }
            @include xl {
                height: rem-calc(260);
            }
        }
    }

    section:nth-child(2) {
        @include lg {
            display: none;
        }

        button {
            background-color: transparent;
            border: none;
            outline: none;

            i {
                color: $drkblu;
                font-size: rem-calc(35);
                margin-left: 6px;
                margin-top: 6px;
                @include sm {
                    font-size: rem-calc(40);
                    margin-left: 9px;
                }
                @include md {
                    font-size: rem-calc(50);
                    margin-left: 22px;
                }
            }
        }
    }

    // nav {
    //     display: none;
    //     grid-area: nav;
    //     @include lg {
    //         display: block !important;
    //     }
    // }
}

// header{
//     background-color: $white;
//     width: 100%;
//     position: fixed;
//     z-index: 100;
//     display: flex;
//     justify-content: flex-end;
//     >div{
//         padding: 10px;
//     }
// }
