/* =============
    Navigation
============= */
header {
    div {
        nav {
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            // background: rgba(34,34,34,0.65);
            background-color: $black;
            display: block;
            width: 140px;
            height:170px;
            position: absolute;
            // left:65px;
            // top:150px;
            @include lg {
                background-color: transparent;
            }

            ul {
                @include lg {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }

                li {
                    margin-top: 15px;

                    @include xl{
                    margin-top: 25px;
                    }
                    a:link,
                    a:visited {
                        color: $white;
                        font-family: "ivystyle-sans", sans-serif;
                        font-style: italic;
                        font-weight: bold;
                        font-size: rem-calc(25);
                        @include lg {
                            color: $drkblu;
                        }
                        @include xl{
                            font-size: rem-calc(35);
                        }
                    }
                    &::after {
                        background-color: $drkblu;
                        content: '';
                        display: block;
                        height: 6px;
                        width: 90px;
                        @include md {
                            width: 113px;
                        }
                        @include xl {
                            height: 9px;
                            width: 147px;
                        }
                    }
                }
            }
        }
    }
}
