/* =============
    Navigation
============= */
#off-canvas-container {
    background-color: $drkblu;
    grid-template-areas: ". content .";
    grid-template-columns: 10px auto 0;
    height: 100vh;
    left: 0;
    padding-top: 20px;
    position: fixed;
    top: 0;
    // width of the off canvas navigation
    width: 200px;
    z-index: 200;
    @include lg {
        width: 300px;
    }

    > div {
        grid-area: content;
        /* -------------
        Here are the properties you can changes for the off-canvas navigation-slide
    ------------- */
        /* close btn */
        button {
            background-color: transparent;
            border: none;
            color: $white;
            cursor: pointer;
            font-size: rem-calc(25);
            margin-bottom: 20px;
            padding-right: 8px;
            text-align: right;
            transition: 0.25s;
            width: 100%;
            @include lg {
                padding-right: 25px;
            }
        }
        /* close btn */
        button:hover {
            color: $base;
        }

        #nav-container {
            nav {
                width: 100%;

                ul {
                    margin-right: 8px;

                    @include lg{
                        margin-right: 20px;
                    }

                    li {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 45px;
                        @include lg {
                            margin-top: 15px;
                        }
                        @include xl {
                            margin-top: 25px;
                        }

                        a:link,
                        a:visited {
                            color: $white;
                            font-family: "ivystyle-sans", sans-serif;
                            font-size: rem-calc(45);
                            font-style: italic;
                            font-weight: bold;
                            text-align: right;
                            @include lg {
                                font-size: rem-calc(55);
                            }
                            @include xl {
                                font-size: rem-calc(65);
                            }

                            &::after {
                                background-color: $white;
                                content: '';
                                display: block;
                                height: 6px;
                                transition: 0.25s;
                                width: 100%;
                                @include lg {
                                    height: 6px;
                                }
                                @include xl {
                                    height: 9px;
                                }
                            }
                        }

                        a:active,
                        a:hover {
                            color: $base;

                            &::after {
                                background-color: $base;
                            }
                        }
                    }

                    li:nth-child(1) {
                        margin-top: 0;
                        @include lg {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

#burger-icon {
    border: none;
    font-size: rem-calc(18);
    outline: none;
    padding: 8px;
    @include lg {
        background-color: $tbase;
    }

    i {
        transition: 0.25s;
    }
}

#burger-icon:hover {
    i {
        color: $white;
    }
}
