/* =============
    Base
============= */
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

a:link,
a:visited {
  text-decoration: none;
  transition: 0.25s;
}

main {
  background-color: $base;
}

.content-grid {
  display: grid;
  grid-template-areas: ". side content .";
  grid-template-columns: 10px 65px auto 10px;
  padding-top: 60px;

  > div {
    grid-area: content;
  }

  > aside {
    background-position: rem-calc(5);
    background-repeat: no-repeat;
    background-size: 50px;
    grid-area: side;
    height: rem-calc(50);
    position: -webkit-sticky;
    position: sticky;
    top: 160px;
  }
  @include sm {
    grid-template-columns: 20px 75px auto 20px;

    > aside {
      top: 170px;
    }
  }
  @include md {
    grid-template-columns: 20px 110px auto 20px;

    > aside {
      background-size: 75px;
      height: rem-calc(75);
      left: 23px;
      top: 245px;
    }
  }
  @include lg {
    grid-template-columns: 50px 190px auto 50px;

    > aside {
      background-size: 125px;
      height: rem-calc(125);
      left: 10px;
      top: 345px;
    }
  }
}

p {
  color: $drkblu;
  font-family: 'helvetica';
  font-size: rem-calc(16);
  font-weight: bold;
  line-height: rem-calc(19);
  @include md {
    font-size: rem-calc(22);
    line-height: rem-calc(26);
  }
}

h1 {
  color: $white;
  display: none;
  font-size: rem-calc(45);
  font-weight: bold;
  @include md {
    display: contents;
  }
}

h2 {
  color: $drkblu;
  font-family: "ivystyle-sans", sans-serif;
  font-size: rem-calc(30);
  font-style: italic;
  padding-bottom: 15px;
  @include md {
    font-size: rem-calc(60);
  }
  @include lg {
    font-size: rem-calc(75);
  }
}

span {
  color: $white;
}
